{% extends "ProyectoFinalApp/base.html" %}

{% load static %}

{% block content %}

    <section class="page-section clearfix">
        <div class="container">
          <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{{post.imagen.url}}" alt="" style="width: 54.1%;  height: 90%">
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
              <h2 class="section-heading mb-4" >
                <a class="section-heading-lower" style="color:greenyellow">{{post.titulo}}</a>
                <span class="section-heading-upper">       </span>
                <span class="section-heading-upper">       </span>
                <span class="section-heading-upper">{{post.subtitulo}}</span>
              </h2>
              <div style="text-align: left; font-size: 0.9em">
                Autor: {{post.autor}}

              </div>
              <div style="text-align: left; font-size: 0.9em">
                Fecha de Publicación: {{post.created}}

              </div>
            </div>
          </div>
        </div>
      </section>

<p style="color: white">{{post.contenido}}</p>
{% endblock %}