{% extends "ProyectoFinalApp/base.html" %}

{% load static %}

{% block content %}

<html>

<body>

<p style="color: white">Estás buscando: <strong>{{query}}</strong></p>

{% if fotos %}
    <p style="color: white">Fototecas encontradas: {{fotos|length}} fototeca/s</p>
    <ul>
        {% for foto in fotos %}
            <a href="{% url 'fototeca' foto.id %}" class="section-heading-lower" style="color:greenyellow"> - {{foto.titulo}}</a>
        {% endfor%}
    </ul>
{% else %}

    <p style="color: white">No está la fototeca buscada</p>

{% endif %}
  
</body>
</html>

{% endblock %}