{% extends "ProyectoFinalApp/base.html" %}

{% load static %}

{% block content %}

<br>
<br>
<br>

<div class="container text-center">
    <h1 style="color: white">Editar Perfil</h1>
</div>

<div class="container">

<form id="login-form" style=" width: 50vw; margin-left : 20vw; color: white" method="post" enctype="multipart/form-data">{% csrf_token %}
    {{ form.as_p }}
    <br>
    <div class="container text-center" style="color: white">
    <button type="submit" class="btn btn-primary text-center">Guardar</button>
    </div>
</form>
</div>
<br>

<p class="text-center" style="color: white">¿Necesitas cambiar la contraseña? <a href="{% url 'cambiar_password' %}" style="color: greenyellow">Haz click acá</a></p>

<br>
<br>
<br>
<br>

{% endblock %}